<ul class="nav nav-sidebar">
  <li class="nav-item" [class.active]="linkActive('/Home')">
    <a class="nav-link" [routerLink]="['Home']">Home</a>
  </li>
  <li
    class="nav-item"
    [class.active]="linkActive('/Profile')"
    [hidden]="!(userService?.currentUser)"
  >
    <a class="nav-link" [routerLink]="['Profile']">Profile</a>
  </li>
  <li
    class="nav-item"
    [class.active]="linkActive('/Admin')"
    [hidden]="!(userService?.currentUser) || !(userService?.currentUser?.isAdmin)"
  >
    <a class="nav-link" [routerLink]="['Admin']">Admin</a>
  </li>
  <li
    class="nav-item"
    [class.active]="linkActive('/Forms')"
    [hidden]="!(userService?.currentUser)"
  >
    <a class="nav-link" [routerLink]="['Forms']">Forms</a>
  </li>
</ul>
