<h1>Admin</h1>

<h2>Users</h2>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th><a>
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
        Username
      </a></th>
      <th><a>
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
        Password
      </a></th>
      <th><a>
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
        First Name
      </a></th>
      <th><a>
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
        Last Name
      </a></th>
      <th><a>
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
        Is Admin
      </a></th>
      <th><a>
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
        Action
      </a></th>
    </tr>
    <tr>
      <td><input #username type="text" placeholder="Username"></td>
      <td><input #password type="text" placeholder="Password"></td>
      <td><input #firstName type="text" placeholder="firstName"></td>
      <td><input #lastName type="text" placeholder="lastName"></td>
      <td><input #roles type="text" placeholder="role1, role2"></td>
      <td>
        <a>
          <span
            (click)="addUser(username, password, firstName, lastName, roles)"
            [hidden]="!!selectedUser"
            class="fa fa-medsize fa-plus"
            aria-hidden="true"
          ></span>
        </a>
        <a>
          <span
            (click)="updateUser(username, password, firstName, lastName, roles)"
            [hidden]="!selectedUser"
            class="fa fa-medsize fa-check"
            aria-hidden="true"
          ></span>
        </a>
      </td>
    </tr>
    <tr *ngFor="#user of users | async">
      <td>{{ user.username }}</td>
      <td></td>
      <td>{{ user.firstName || '' }}</td>
      <td>{{ user.lastName || '' }}</td>
      <td>{{ isAdmin(user) || '' }}</td>
      <td>
        <a>
          <span
            (click)="removeUser(user)"
            class="fa fa-medsize fa-remove"
            aria-hidden="true"
          ></span>
        </a>
        <a>
          <span
            (click)="selectUser(user, username, password, firstName, lastName, roles)"
            [hidden]="!!selectedUser"
            class="fa fa-medsize fa-pencil"
            aria-hidden="true"
          ></span>
        </a>
      </td>
    </tr>
  </table>
</div>
