<div class="container">
  <div class="row">
    <form role="form">
      <div class="row">
        <div class="col-xs-6">
          <label for="new-field">Add New Field:</label>
          <select
            #fieldSelect
            (change)="selectField(fieldSelect.value)"
            class="form-control"
          >
            <option *ngFor="#fieldType of fieldTypes">{{ fieldType }}</option>
          </select>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
          <a (click)="addField(fieldSelect, labelField, placeholderField, optionsField)">
            <span class="fa fa-medsize fa-plus" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row col-xs-12">
            <label>Label:</label>
            <input #labelField type="text">
          </div>
          <div class="row col-xs-12" [hidden]="!('Single Line Text' === selectedFieldType || 'Paragraph Text Field' === selectedFieldType)">
            <label>Placeholder:</label>
            <input #placeholderField type="text">
          </div>
          <div class="row col-xs-12" [hidden]="!('Dropdown' === selectedFieldType || 'Checkbox' === selectedFieldType || 'Radio Buttons' === selectedFieldType)">
            <label>Options</label>
            <textarea #optionsField></textarea>
          </div>
        </div>
      </div>
      <hr>
      <h1>Form</h1>
      <div class="form-group row" *ngFor="#field of fields | async">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <label>{{ field.label }}</label>
              <div [hidden]="!('Single Line Text' === field.type)">
                <input type="text" [placeholder]="field.placeholder">
              </div>
              <div [hidden]="!('Paragraph Text Field' === field.type)">
                <textarea [placeholder]="field.placeholder"></textarea>
              </div>
              <div [hidden]="!('Date' === field.type)">
                <input type="date" class="form-control">
              </div>
              <div [hidden]="!('Dropdown' === field.type)">
                <select class="form-control">
                  <option *ngFor="#option of field.options" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
              </div>
              <div [hidden]="!('Checkbox' === field.type)">
                <label *ngFor="#option of field.options">
                  <input type="checkbox" [value]="option.value">
                  {{ option?.label }}
                </label>
              </div>
              <div [hidden]="!('Radio Buttons' === field.type)">
                <label *ngFor="#option of field.options">
                  <input type="radio" [value]="option.value">
                  {{ option?.label }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
          <a><span class="fa fa-medsize fa-pencil" aria-hidden="true"></span></a>
          <a (click)="removeField(field)">
            <span class="fa fa-medsize fa-remove" aria-hidden="true"></span>
          </a>
          <a><span class="fa fa-medsize fa-bars" aria-hidden="true"></span></a>
        </div>
        <hr>
      </div>
    </form>
  </div>
</div>
