<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th><a>
        <span class="fa fa-medsize fa-chevron-down"></span>
        Form&nbsp;Name
      </a></th>
      <th><a>
        <span class="fa fa-medsize fa-chevron-down"></span>
        Action
      </a></th>
    </tr>
    <tr>
      <td>
        <input
          #name
          type="text"
          placeholder="name"
        >
      </td>
      <td>
        <a (click)="addForm(name)" [hidden]="!!currentForm">
          <span class="fa fa-medsize fa-plus" aria-hidden="true"></span>
        </a>
        <a (click)="updateForm(name)" [hidden]="!currentForm">
          <span class="fa fa-medsize fa-check" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    <tr *ngFor="#form of forms">
      <td><a (click)="router.navigate(['/Forms/FieldsList'])">{{form.name}}</a></td>
      <td>
        <a (click)="deleteForm(form)">
          <span class="fa fa-medsize fa-remove" aria-hidden="true"></span>
        </a>
        <a (click)="selectForm(form, name)">
          <span class="fa fa-medsize fa-pencil" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </table>
</div>
