<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <input
        #buildingName
        (keyup.enter)="addBuilding(buildingName)"
        type="text"
        placeholder="Building">
      <a class="btn btn-primary" (click)="addBuilding(buildingName)">Add</a>
    </div>
    <div class="col-xs-4">
      <select #buildingSelect placeholder="Building">
        <option *ngFor="#building of buildings" [value]="building._id">{{ building.name }}</option>
      </select>
      <a class="btn btn-danger" (click)="deleteBuilding(buildingSelect)">Delete</a>
    </div>
    <div class="col-xs-4">
      <a
        class="btn btn-danger"
        (click)="pullFromApi()"
        tooltip="Please don't click this because I have limited API calls and this uses a bunch. It also shouldn't actually change any of the data because its already here."
        tooltipPlacement="bottom"
      >Pull from API</a>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead (added)="addRoom()"></thead>
    <tr *ngFor="#room of rooms"
      (deleted)="deleteRoom($event)"
      (edited)="editRoom($event)"
      [room]="room"
      [buildings]="buildings"
    ></tr>
  </table>
</div>
