<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <input
        #buildingName
        (keyup.enter)="addBuilding(buildingName)"
        type="text"
        placeholder="Building">
      <a class="btn btn-primary" (click)="addBuilding(buildingName)">Add</a>
    </div>
    <div class="col-xs-6">
      <select #buildingSelect placeholder="Building">
        <option *ngFor="#building of buildings | async" [value]="building._id">{{ building.name }}</option>
      </select>
      <a class="btn btn-danger" (click)="deleteBuilding(buildingSelect)">Delete</a>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead (added)="addRoom()"></thead>
    <tr *ngFor="#room of rooms | async"
      (deleted)="deleteRoom($event)"
      (edited)="editRoom($event)"
      [room]="room"
      [buildings]="buildings"
    ></tr>
  </table>
</div>
