<td>
  <a class="btn btn-danger" (click)="deleteRoom(room._id)">
    X
  </a>
</td>
<td (dblclick)="enterEditBuildingMode(buildingSelect)">
  <span [hidden]="editBuildingMode">
    {{ buildingName }}
  </span>
  <div [hidden]="!editBuildingMode">
    <select
      #buildingSelect
      (keyup.enter)="commitEdit(buildingSelect.value, roomSelect.value)"
      (keyup.escape)="cancelEdit()"
      (blur)="commitEdit(buildingSelect.value, roomSelect.value)"
    >
      <option
        *ngFor="#building of buildings"
        [selected]="building.name === buildingName"
      >{{ building.name }}</option>
    </select>
  </div>
</td>
<td (dblclick)="enterEditRoomMode(roomSelect)">
  <span [hidden]="editRoomMode">
    {{ room.number }}
  </span>
  <div [hidden]="!editRoomMode">
    <input
      #roomSelect
      (keyup.enter)="commitEdit(buildingSelect.value, roomSelect.value)"
      (keyup.escape)="cancelEdit()"
      (blur)="commitEdit(buildingSelect.value, roomSelect.value)"
      [value]="room.number"
      class="full-width"
      type="text"
    >
  </div>
</td>
<td>
  <div class="navbar-xs">
    <ul class="nav navbar-nav">
      <timecard
        *ngFor="#time of times"
        (deleted)="deleteTime($event)"
        [time]="time"
      ></timecard>
      <li class="nav-item">
        <div class="card text-xs-center card-size">
          <div class="card-header card-block-ov">
            <span
              class="label label-pill"
              [ngClass]="dayOfWeekSelected(days, day)"
              (click)="selectDay(day)"
              *ngFor="#day of daysOfTheWeek()"
            >
              {{ day }}
            </span>
          </div>
          <div class="card-block card-block-ov">
            <input #startTime type="time" class="full-width half-height" placeholder="Start Time">
            <input #endTime type="time" class="full-width half-height" placeholder="End Time">
          </div>
          <div class="card-footer card-success card-footer-ov">
            <a class="label label-success" (click)="addTime(startTime.value, endTime.value)">
              Add
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</td>
