<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="navbar-header">
    <a class="navbar-brand"  [routerLink]="['Home']">Café</a>
  </div>
  <a class="navbar-toggler hidden-sm-up pull-xs-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbar">
    &#9776;
  </a>
  <div class="collapse navbar-toggleable-xs" id="navbar">
    <ul class="nav navbar-nav pull-sm-right">
      <li class="nav-item" [class.active]="linkActive('/Admin')" [hidden]="!(userService?.currentUser)">
        <a class="nav-link" [routerLink]="['Admin']">Admin</a>
      </li>
      <li class="nav-item">
        <search></search>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Profile']">{{ userService?.currentUser?.username || 'Profile' }}</a>
      </li>
      <li class="nav-item" [class.active]="linkActive('/Login')" [hidden]="!!(userService?.currentUser)">
        <a class="nav-link" [routerLink]="['Login']">Register</a>
      </li>
      <li class="nav-item" [class.active]="linkActive('/Login')" [hidden]="!!(userService?.currentUser)">
        <a class="nav-link" [routerLink]="['Login']">Login</a>
      </li>
      <li class="nav-item" [hidden]="!(userService?.currentUser)">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
