<div class="fluid-container">
  <ul class="nav nav-tabs row centered">
    <li class="nav-item">
      <a class="nav-link btn-primary text-xs-center" (click)="moveTime(-1)">&lt;</a>
    </li>
    <li class="nav-item" *ngFor="#time of times | async">
      <a class="btn text-xs-center" [class.active]="index == midway" (click)="selectTime(time)">
        {{ time | date:"h:mm" }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-primary text-xs-center" (click)="moveTime(1)">&gt;</a>
    </li>
  </ul>

  <accordion [closeOthers]="oneAtATime">
    <accordion-group
      *ngFor="#building of buildings | async"
      [heading]="building.name"
      [attr.id]="'building_' + building.name"
    >
      <tabset [vertical]="true" type="pills">
        <tab
          class="row"
          *ngFor="#room of building.rooms"
        >
          <template tab-heading class="col-xs-3">
            <span [attr.id]="'building_' + room.number + building.name">
              {{ room.number }}
            </span>
          </template>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-2">
                <div class="row">
                  <a class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal">
                    Report Problem
                  </a>
                </div>
                <div class="row">
                  <a class="btn btn-block btn-danger">Room is Full</a>
                </div>
                <hr>
                <div class="row">
                  <span class="">Open Seats: {{ room.seats }}</span>
                </div>
                <div class="row">
                  <a class="btn btn-block btn-success">Claim</a>
                </div>
                <div class="row">
                  <a class="btn btn-block btn-primary" [routerLink]="['Room']">
                    Details...
                  </a>
                </div>
              </div>
              <div class="col-xs-7">
                <sebm-google-map [latitude]="lat" [longitude]="lng">
                </sebm-google-map>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </accordion-group>
  </accordion>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Report Problem</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <input type="radio" name="reportOption" value="yesClass" id="reportOptionYes">
            <label for="reportOptionsYes">This room has class in it at this time</label>
          </div>
          <div class="row">
            <input type="radio" name="reportOption" value="noClass" id="reportOptionNo">
            <label for="reportOptionsYes">There isn't class in this room at this time!</label>
          </div>
          <div class="row">
            <textarea type="text" class="form-control full-width" placeholder="Addional info..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
