<h1>Profile</h1>

<div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="username">
      Username:
    </label>
    <div class="col-sm-9">
      <input
        #username
        type="text"
        id="username"
        class="form-control"
        placeholder="Enter Username"
        [value]="user?.username || ''"
      >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="password">
      Password:
    </label>
    <div class="col-sm-9">
      <input
        #password
        type="password"
        id="password"
        class="form-control"
        placeholder="*******"
        [value]="user?.password"
      >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="firstname">
      First Name:
    </label>
    <div class="col-sm-9">
      <input
        #firstname
        type="text"
        id="firstname"
        class="form-control"
        placeholder="First"
        [value]="user?.firstName || ''"
      >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="lastname">
      Last Name:
    </label>
    <div class="col-sm-9">
      <input
        #lastname
        type="text"
        id="lastname"
        class="form-control"
        placeholder="Last"
        [value]="user?.lastName || ''"
      >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="email">
      Email:
    </label>
    <div class="col-sm-9">
      <input
        #email
        type="email"
        id="email"
        class="form-control"
        placeholder="example@example.com"
        [value]="user?.email || ''"
      >
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <a
        (click)="update(username.value, password.value, firstname.value, lastname.value, email.value)"
        class="btn btn-primary col-sm-12"
      >
        Update
      </a>
    </div>
  </div>
</div>
